.theme-box {
    background-color: #CDCDCD;
    padding: 15px;
    margin: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI";
  justify-content: center;
}

.search {
  width: 100%;
  position: top;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 400%;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: center;
  padding: 10px;
  border: none;
  margin: auto;
  font-size: 400%;
}

/* LOCATION PAGE */

/* Title text on the location page */
#location_title {
  font-weight: bold;
  text-align: left;
  color: black; 
  font-size: 10vw;
  padding-left: 5vw;
  padding-top: 3vw;
  padding-bottom: 1vw;
}

/* Image on location page */
#location_image {
  /* max-width: 100%;
  height: 600px; */
  width: 100%;
  height: auto;
  max-height: 800px;
  object-fit: cover;
}

/* Location description on location page */
#location_desc {
  font-size: 4vw;
  text-align: left;
  padding-left: 5vw;
}

/* Title for suggested practices on location page */
#suggested_practices {
  font-size: 2vw;
  text-align: left;
  padding-left: 5vw;
  padding-top: 1vw;
}

/* Button leading to directions */
#directions {
  width: 30%;
  height: 15%;
  font-size: 4vw;
  background-color: #0066ff;
  color: #CDCDCD;
  border-radius: 15px;
  text-align: center;
  display: block;
  margin: 3vw auto;
}

#practice_container {
  display: flex;
  flex-wrap: wrap;
  width: 84vw;
  margin: auto;
}
/* Button leading to more information on a practice */
#practice_card {
  width: 40vw;
  height: 40vw;
  margin: 1vw;
  border: 1px solid black;
  border-radius: 30px;
}

/* Title of a suggested practice on location page */
#practice_title {
  font-size: 4vw;
}

/* Duration of a suggested practice on location page */
#duration {
  font-size: 5vw;
  color: #a8a8a8;
}

/* Back button to locations */
#back_to_locations {
  font-size: 5vw;
  text-align: left;
  color: #277edb
}

/* END LOCATION PAGE */

/* Button */
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
}

.card {
  /* Add shadows to create the "card" effect */
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
  background: #eee;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.catalog {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}
.catalog > * {
  grid-column: 2 / -2;
}
.catalog > .full {
  grid-column: 1 / -1;
}

.scrolling-container > li:last-child {
  margin-right: 20px;
}

.scrolling-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, calc(50% - 40px));
  grid-template-rows: minmax(150px, 1fr);
  padding: 0 20px;
}

.scroll-card {
  background-color: blue;
}